*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
   }
 /* Container */
.container{
    display: flex;
    height: 500px; 
    width: 800px;
   /* border: 1px solid black;*/
    margin: auto;
    margin-top: 300px;
    margin-bottom: 50px;
    background-color: rgb(241, 243, 245);
    text-align: center;
    box-shadow: 15px 15px 20px rgb(145, 141, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Login Form */
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    margin: 40px;
    }
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid rgb(243, 238, 238);
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: rgb(104, 24, 24);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: #acaa3c;
 }
.form a{
    text-decoration: none;
    color: black;
     margin-top: 20px;
    }
    
.form a:hover{
    
    color: #fd4e4e;
}
 /* Right Side */
    
.side
{    
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: bisque;
}
.side img{    
    width: 450px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}
